In [1]:
import pandas as pd
data = [1,2,3,4]
series1 = pd.Series(data)
series1

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
type(series1)

pandas.core.series.Series

In [11]:
# Changing the index of a series object(a,b,c,d)
import string
series1 = pd.Series(data, index = list(string.ascii_lowercase)[0:len(data)], )
series1

a    1
b    2
c    3
d    4
dtype: int64

### How to create a dataframe

In [19]:
# using list
import pandas as pd
dt = [1,2,3,4]
df = pd.DataFrame(dt, index = list(string.ascii_lowercase)[0:len(data)], columns=['the data'])
df

   the data
a         1
b         2
c         3
d         4

In [20]:
# using dictionary
import pandas as pd
data2 = {'fruits':['apple', 'banana', 'mango'], 'count':[10,20,15]}
df = pd.DataFrame(data2)
df

   fruits  count
0   apple     10
1  banana     20
2   mango     15

In [21]:
# creating a dataframe using a series
df2 = pd.DataFrame(series1)
df2

   0
a  1
b  2
c  3
d  4

In [28]:
# creating a df using a numpy array
import numpy as np
numarr = np.array([[50000,60000],['John','James']])
df3 = pd.DataFrame({'name':numarr[1], 'salary':numarr[0]})
df3

    name salary
0   John  50000
1  James  60000

## How to perform a merge Operation?

In [30]:
import pandas as pd
player = ['p1','p2','p3']
point = [8,9,6]
title = ['Game1','Game2','Game3']
df4 = pd.DataFrame({'Player':player, 'Points':point, 'Title':title})
df4

  Player  Points  Title
0     p1       8  Game1
1     p2       9  Game2
2     p3       6  Game3

In [33]:
player = ['p1','p5','p6']
power = ['Punch','Kick','Elbow']
title = ['Game1','Game5','Game6']
df5 = pd.DataFrame({'Player':player,'Power':power,'Title':title})
df5

  Player  Power  Title
0     p1  Punch  Game1
1     p5   Kick  Game5
2     p6  Elbow  Game6

In [36]:
#Inner merge
df4.merge(df5,on='Player', how='inner')

  Player  Points Title_x  Power Title_y
0     p1       8   Game1  Punch   Game1

In [39]:
# Left merge
df4.merge(df5, on="Player",how='left')

  Player  Points Title_x  Power Title_y
0     p1       8   Game1  Punch   Game1
1     p2       9   Game2    NaN     NaN
2     p3       6   Game3    NaN     NaN

In [40]:
# Right merge
df4.merge(df5, on="Player",how='right')

  Player  Points Title_x  Power Title_y
0     p1     8.0   Game1  Punch   Game1
1     p5     NaN     NaN   Kick   Game5
2     p6     NaN     NaN  Elbow   Game6

In [42]:
# Outer merge
df4.merge(df5, on="Player",how='outer')

  Player  Points Title_x  Power Title_y
0     p1     8.0   Game1  Punch   Game1
1     p2     9.0   Game2    NaN     NaN
2     p3     6.0   Game3    NaN     NaN
3     p5     NaN     NaN   Kick   Game5
4     p6     NaN     NaN  Elbow   Game6

# join operation

In [59]:
import pandas as pd
player = ['p1','p2']
point = [8,9]
title = ['Game1','Game2',]
df1 = pd.DataFrame({'Player':player, 'Points':point, 'Title':title},index=['L2','L3'])
df1

   Player  Points  Title
L2     p1       8  Game1
L3     p2       9  Game2

In [60]:
player = ['p1','p5','p6']
power = ['Punch','Kick','Elbow']
title = ['Game1','Game5','Game6']
df2 = pd.DataFrame({'Players':player,'Power':power,'Titles':title},index=['L2','L3','L4'])
df2

   Players  Power Titles
L2      p1  Punch  Game1
L3      p5   Kick  Game5
L4      p6  Elbow  Game6

In [64]:
#Inner join
df1.join(df2,how='inner')

   Player  Points  Title Players  Power Titles
L2     p1       8  Game1      p1  Punch  Game1
L3     p2       9  Game2      p5   Kick  Game5

In [65]:
#Left join
df1.join(df2,how='left')

   Player  Points  Title Players  Power Titles
L2     p1       8  Game1      p1  Punch  Game1
L3     p2       9  Game2      p5   Kick  Game5

In [66]:
#Right join
df1.join(df2,how='right')

   Player  Points  Title Players  Power Titles
L2     p1     8.0  Game1      p1  Punch  Game1
L3     p2     9.0  Game2      p5   Kick  Game5
L4    NaN     NaN    NaN      p6  Elbow  Game6

In [67]:
#Outer join
df1.join(df2,how='outer')

   Player  Points  Title Players  Power Titles
L2     p1     8.0  Game1      p1  Punch  Game1
L3     p2     9.0  Game2      p5   Kick  Game5
L4    NaN     NaN    NaN      p6  Elbow  Game6

## how to conactenate?

In [70]:
pd.concat([df1,df2], sort='False')

   Player Players  Points  Power  Title Titles
L2     p1     NaN     8.0    NaN  Game1    NaN
L3     p2     NaN     9.0    NaN  Game2    NaN
L2    NaN      p1     NaN  Punch    NaN  Game1
L3    NaN      p5     NaN   Kick    NaN  Game5
L4    NaN      p6     NaN  Elbow    NaN  Game6